<div>
    <div class="home" role="banner">
        <img
            src="../../../assets/logo1.png"
            alt="Logo dragon ball"
            class="logo-home"
            width="40"
        />
        <a>Home</a>
        <a>List</a>
        <a>Register</a>
    </div>

    <div class="content-title">
        <h1>Welcome to my first website about Dragon Ball Z</h1>
    </div>

    <div class="content-cards">
        <div class="card">
            <span>Goku</span>   
            <img src="../../../assets/goku.png" alt="img goku">
        </div>
        <div class="card">
            <span>Kuririn</span>
            <img src="../../../assets/kuririn.jpg" alt="img kuririn">
        </div>
        <div class="card">
            <span>Vedita</span>
            <img src="../../../assets/vedita.jpg" alt="img vedita">
        </div>
        <div class="card">
            <span>Gohan</span>
            <img src="../../../assets/gohan.jpeg" alt="img gohan">
        </div>
    </div>
</div>
